<aside>
    <div class="hr"></div>
    <div class="part" ng-click="refreshUsers()"><h4>全部联系人</h4></div>
    <div class="hr"></div>
    <div class="part" ng-click="recycle()"><h4>回收站</h4></div>
    <div class="footer">
        ©2015 BaiQiang
    </div>
</aside>

<div class="content">
    <header>
        <button class="btn" ng-click="addUser()">新增联系人</button>
        <button class="btn" ng-click="mergeUser()">合并联系人</button>
        <button class="btn">导入联系人</button>
    </header>

    <div class="content-header">
        <div class="header-all check">
            <div class="checkbox {{checkedAll}}" ng-click="checkAll()"></div>
        </div>
        <div class="header-name">姓名</div>
        <div class="header-phone">电话</div>
        <div class="header-email">邮箱</div>
    </div>

    <ul class="list list-unstyled">
        <li ng-repeat="p in persons" class="data-list" ng-click="modify(p)">
            <div class="check">
                <div class="checkbox {{p.checked}}" data-id="{{p.id}}" ng-click="personCheck($event,p)"></div>
            </div>
            <div class="name"><strong>{{p.dn}}</strong></div>
            <div class="email">{{p.phone}}</div>
            <div class="phone"> {{p.email}}</div>
        </li>
    </ul>
    <div panel p-open="addOrUpdate">
        <div id="dialog" class="animate-show-hide" ng-show="addOrUpdate">

            <h3>用户详情</h3>


            <input type="hidden" value="{{p.id}}"/>

            <div class="div-name">
                <span class="text-info">姓名</span>
                <input type="text" ng-model="p.dn" id="input-name" class="form-control"/>
            </div>
            <div class="div-mobile">
                <span class="text-info">手机</span>
                <input type="text" ng-model="p.mobile" class="form-control"/>
            </div>
            <div class="div-phone">
                <span class="text-info">固话</span>
                <input type="text" ng-model="p.phone" class="form-control"/>
            </div>
            <div class="div-email">
                <span class="text-info">邮件</span>
                <input type="text" ng-model="p.email" id="input-email" class="form-control"/>
            </div>
            <div class="footer">
                <input id="save-dialog" type="button" class="btn btn-success" ng-click="save(p)" value="保存"/>
                <input id="close-dialog" type="button" class="btn btn-default" ng-click="cancel()" value="取消"/>
            </div>
        </div>
    </div>

    <footer class="animate-show-hide" ng-show="selected">
        已选中{{checkIds.length}}个联系人
        <button class="btn" ng-click="delete()">删除</button>
        <button class="btn" ng-click="batchCancel()">取消</button>
    </footer>
</div>

