<aside class="">
    <h3>便签</h3>

    <div class="part" ng-repeat="n in notes">
        <div class="hr"></div>
        <div>
            <div class="checkbox" data-id="{{n.id}}" ng-click="noteCheck($event)"></div>
            <div class="title" ng-click="showNote($index)"><title></title>
            </div>
        </div>
    </div>
</aside>

<div class="content" ng-show="!selected">
    <div class="header">
        <div class="title">创建于
            <date></date>
        </div>
    </div>
    <div id="text" class="text" ng-class="{'appear':note}" ng-bind="note.content">
        {{note.content}}
    </div>
    <div class="footer">
        <button class="btn">删除</button>
        <button class="btn">取消</button>
    </div>
</div>

<!--批处理操作-->
<div class="col-lg-10 batch-view" ng-show="selected">
    <header>
        <h3>已选择 {{checkNotes.length}} 条便签</h3>
    </header>
    <!-- <div class="hr"></div>-->
    <div class="list">
        <div class="batch-list-item data-list" ng-repeat="n in checkNotes">
            <div class="title"><title></title>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</div>
</div>