<aside>
    <h3>便签</h3>
    <div class="content">
        <div class="part" ng-repeat="n in notes">
            <div class="hr"></div>
            <div ng-click="showNote(n)">
                <div class="checkbox {{n.checked}}" data-id="{{n.id}}" ng-click="noteCheck($event,n)"></div>
                <div class="title">
                    <title></title>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <button class="btn" ng-click="noteNew($event)">新建</button>
    </footer>
</aside>

<div class="content" ng-show="!selected" watcher w-speed=".2">
    <div class="header">
        <h4>
            创建于
            <date></date>
        </h4>
    </div>
    <div class="text" ng-show="!edit" ng-bind-html="note.content"></div>
    <div contenteditable="true" class="text text-edit" ng-model="note.content" ng-show="edit" autofocus tabindex="1">
        {{note.content}}
    </div>

    <div class="footer" ng-show="!edit">
        <button class="btn" ng-click="noteEdit($event)">编辑</button>
        <button class="btn" ng-click="noteDelete(note.id)">删除</button>
    </div>
    <div class="footer" ng-show="edit">
        <button class="btn" ng-click="noteSave(note)">保存</button>
        <button class="btn" ng-click="noteCancel()">取消</button>
    </div>
</div>

<!--批处理操作-->
<div class="col-lg-10 batch-view" ng-show="selected">
    <header>
        <h4>已选择 {{checkNotes.length}} 条便签</h4>
    </header>
    <div class="hr"></div>
    <div class="list">
        <div class="batch-list-item data-list" ng-repeat="n in checkNotes">
            <div class="note-content">
                {{n.content}}
            </div>
            <div class="note-info">
                {{n.time | dateFilter}}
            </div>
        </div>
    </div>
    <footer>
        <button class="btn" ng-click="batchDelete()">删除</button>
        <button class="btn" ng-click="batchCancel()">取消</button>
    </footer>
</div>
</div>

<div class="delete-panel" panel p-open="paneled">
    <div class="panel-content animate-show-hide" ng-show="paneled">
        <header>
            <h4>删除确认</h4>
        </header>
        <div class="panel-bd">
            确定要删除吗？
        </div>
        <footer>
            <a ng-click="noteDelete()" class="btn">确定</a>
            <a ng-click="cancelDelete()" class="btn">取消</a>
        </footer>
    </div>

</div>