<div class="content">
    <div class="content-header">
        <div class="header-del" ng-show="selected">
            <div>已选中{{checkIds.length}}张相片</div>
            <div class="btn" ng-click="delete()">删除</div>
        </div>
    </div>
    <div ng-repeat="year in years">
        <header ng-click="photoCheck($event)">
            <span class="h1">{{year.value}}</span>
        </header>
        <ul>
            <li ng-repeat="day in year.date" ng-controller="ItemCtrl">
                <div class="left" ng-click="photoCheck($event)">
                    <date></date>
                </div>
                <ul class="data-list">
                    <li ng-repeat="item in day.data">
                        <div class="checkbox {{item.checked}}" data-id="{{item.id}}"
                             ng-click="photoCheck($event,item)"></div>

                        <div class="right">
                            <h4>{{item.name}}</h4>
                            <img data-src="{{item.src}}" src="" alt="{{item.name}}"/>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>