<div class="content">
    <div class="delete animate-show-hide" ng-show="selected">
        <div>已选中{{checkIds.length}}张相片</div>
        <button class="btn" ng-click="delete()">删除</button>
        <button class="btn" ng-click="cancel()">取消</button>
    </div>
    <div ng-repeat="year in years">
        <header>
            <span class="h1">{{year.value}}</span>
        </header>
        <ul>
            <li ng-repeat="day in year.date">
                <div class="left">
                    <date></date>
                </div>
                <ul class="data-list">
                    <li ng-repeat="item in day.data">
                        <div class="checkbox {{item.checked}}" data-id="{{item.id}}"
                             ng-click="photoCheck($event,item)"></div>
                        <div class="right">
                            <p>{{item.name}}</p>

                            <div class="img">
                                <img data-src="{{item.src}}" src="" alt="{{item.name}}"
                                     ng-click="photoShow($event,item)"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="show-panel" ng-show="photo">
    <div class="photo">
        <img data-src="{{photo.src}}" src="" alt="{{photo.name}}">
    </div>
    <div class="close" ng-click="photoShowCancel()"></div>
</div>