<aside>
    <div class="part"><h4>对话列表</h4></div>
    <div class="part" ng-repeat="p in persons">

        <div class="hr"></div>
        <div>
            <div class="checkbox {{p.checked}}" data-id="{{p.id}}" ng-click="personCheck($event,p)"></div>
            <strong ng-click="smsShow(p)">{{p.name}}({{p.count}})</strong>
        </div>

    </div>

</aside>

<div class="content" ng-show="!selected">

    <header>
        与{{p.name}}的对话
    </header>
    <ul class="list list-unstyled">
        <li ng-repeat="msg in sms" class="data-list">
            <div class="context-all context-{{msg.type}}">
                <em class="arrow"></em>

                <div>
                    {{msg.content}}
                </div>
                <div class="context-time">
                    <date></date>
                </div>
                <div class="checkbox {{msg.checked}}" data-id="{{msg.id}}" ng-click="msgDelete(msg)"></div>
            </div>
        </li>
    </ul>
</div>

<div class="options" ng-show="selected">
    <header>当前选择了{{checkedPersons.length}}个会话</header>
    <ul class="list list-unstyled">
        <li ng-repeat="p in checkedPersons" class="data-list">
            <p>
                {{p.name}}
            </p>

            <p>
                {{p.phone}}
            </p>
        </li>
    </ul>
    <footer>
        <button class="btn" ng-click="batchDelete()">删除</button>
        <button class="btn" ng-click="batchCancel()">取消</button>
    </footer>
</div>