<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title><$ title $></title>
    <link rel="stylesheet" href="/css/contact.css"/>
</head>
<body>

<% include "./includes/header.html" %>

<div ng-view id="container">

</div>
<div id="loading">
    <div></div>
</div>

<script src="/js/lib/jquery-1.11.1.js"></script>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/angular-route.js"></script>
<script src="/js/lib/angular-animate.js"></script>
<script src="/js/lib/angular-sanitize.js"></script>
<script src="/js/contact.js"></script>
</body>
</html>