<html>
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>云服务</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body class="login">

<ul class="lang">
    <li><a href="#">简体|</a></li>
    <li><a href="#">繁體|</a></li>
    <li><a href="#">English</a></li>
</ul>

<div class="container">
    <img src="/images/home.png" width="156"/>

    <h2>YunOS云服务</h2>

    <h4>随时随地，永久保存你的所有设备和数据</h4>

    <form action="/" class="form">
        <input type="text" placeholder="邮箱或手机"/>
        <input type="password" placeholder="密码"/>
        <input type="submit" class="submit" value="登录"/>
    </form>
</div>
<div class="footer">
    <div class="section-main">
        <p class="footer-nav">
            <a target="_blank" href="http://page.1688.com/shtml/about/ali_group1.shtml">阿里巴巴集团</a> <s>|</s>
            <a target="_blank" href="http://www.alibaba.com">阿里巴巴国际站</a> <s>|</s>
            <a target="_blank" href="http://www.1688.com">阿里巴巴中国站</a> <s>|</s>
            <a target="_blank" href="http://www.aliexpress.com/">全球速卖通</a> <s>|</s>
            <a target="_blank" href="http://www.taobao.com">淘宝网</a> <s>|</s>
            <a target="_blank" href="http://www.tmall.com/">天猫</a> <s>|</s>
            <a target="_blank" href="http://ju.taobao.com">聚划算</a> <s>|</s>
            <a target="_blank" href="http://www.etao.com/">一淘</a> <s>|</s>
            <a target="_blank" href="http://www.alimama.com">阿里妈妈</a> <s>|</s>
            <a target="_blank" href="http://www.aliyun.com">阿里云计算</a> <s>|</s>
            <a target="_blank" href="http://www.yunos.com">YunOS</a> <s>|</s>
            <a target="_blank" href="http://www.net.cn">万网</a> <s>|</s>
            <a target="_blank" href="http://www.alipay.com/">支付宝</a> <s>|</s>
            <a target="_blank" href="http://www.laiwang.com/">来往</a>
        </p>
        <p class="footer-icp">2012-2015 yunos.com版权所有</p>
    </div>
</div>
</body>
</html>