.cloud-service {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 6px;
  box-shadow: -5px -5px 10px, 5px 5px 10px #666666;
  border-radius: 10px;
}
.cloud-service:hover .nav {
  left: 0;
}
.cloud-service:hover .account {
  left: 0;
}
.nav {
  padding: 0;
  position: absolute;
  transition: left .5s;
  left: -200px;
  width: 200px;
  height: 90%;
  z-index: 101;
  background-color: rgba(200, 200, 200, 0.8);
  list-style: none;
  border-radius: 0 10px 10px 0;
}
.nav a {
  margin: 40px 0;
  font-size: 18px;
  display: block;
  height: 60px;
  line-height: 60px;
  width: 200px;
  color: #333333;
  text-align: center;
  transition: all .5s;
}
.nav a:hover,
.nav a:focus {
  text-decoration: none;
  background-color: #0f0f0f;
  color: #d8d8d8;
}
.account .account-name {
  display: inline-block;
  max-width: 160px;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.account .ico-down {
  margin-left: 6px;
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 4px solid transparent;
  border-top: 4px solid #a2a7b5;
  vertical-align: -2px;
}
