@import "less/style";
@import "nav";
@import "global";

#container {
  overflow: scroll;
  display: block;
}

.content {
  background: url("/images/photo/line4.png") repeat-y 70px 0;
  position: relative;
  margin: 40px auto 0 100px;
  flex: 1;
  header {
    position: relative;
    background: url("/images/photo/icon9.png") no-repeat 30px 0;
    height: 87px;
    margin-bottom: 20px;
    span {
      position: absolute;
      left: 150px;
    }
  }
  ul {
    list-style: none outside none;
    padding: 0;
    li {
      background: url("/images/photo/icon7.png") no-repeat 61px 5px;
      position: relative;
      .checkbox {
        left: 290px;
        bottom: 5px;
      }
      &:hover {
        cursor: pointer;
        .checkbox {
          background-position: 0 -65px;
        }
      }
      .left {
        position: absolute;
        text-align: right;
        font-size: 14px;
        color: #878787;
      }
      .right {
        margin-left: 110px;
        width: 216px;
        .img {
          width: 200px;
          height: 100px;
          overflow: hidden;
        }
      }
    }
    .data-list {
      li {
        background: none;
        display: inline-block;
        height: 150px;
      }
    }
  }
}

.delete {
  position: fixed;
  z-index: 10;
  right: 20px;
  cursor: pointer;
  padding: 20px 5px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  .btn {
    margin-top: 20px;
  }
}

.show-panel {
  position: fixed;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  .photo {
    flex: 1;
    overflow: hidden;
    padding-top: 10%;
  }
  .close {
    background: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    height: 56px;
    cursor: pointer;
    width: 61px;
    background: url('/images/photo/close.png') no-repeat;
    background-position: 5px 12px;
    &:hover {
      background-position: 5px -80px;
      background-color: #48A2DE;
    }
  }
}

